/src/cs/*.suo
/src/cs/HBMLogAnalyzer/bin/Debug/*.exe
/src/cs/HBMLogAnalyzer/bin/Debug
/src/cs/HBMLogAnalyzer/obj/Debug
/src/cs/UnitTestProject1/bin/Debug
/src/cs/UnitTestProject1/obj/Debug/*.cache
/src/cs/UnitTestProject1/obj/Debug/UnitTestProject1.csproj.FileListAbsolute.txt
/src/cs/UnitTestProject1/obj/Debug
/src/cs/DepersonIt/*.user
/src/cs/DepersonIt/bin
/src/cs/DepersonIt/obj
/data/
/src/cs/ElasticView/bin
/src/cs/ElasticView/obj
/src/cs/ElasticView/*.user
/src/cs/PostgresLogAnalyzer/bin
/src/cs/PostgresLogAnalyzer/obj
/src/cs/PostgresLogAnalyzer/*.user
/src/cs/Test.PostgresLogAnalyzer/bin
/src/cs/Test.PostgresLogAnalyzer/obj
/src/cs/Test.PostgresLogAnalyzer/*.user
/src/cs/packages
